#allow hal_sensors_default servicemanager:binder call;
#allow hal_sensors_default sound_device:chr_file { read open ioctl };
allow hal_sensors_default audioserver_service:service_manager find;
allow hal_sensors_default audioserver:binder call;

userdebug_or_eng(`
  r_dir_file(hal_sensors_default, sysfs_diag)
  allow hal_sensors_default diag_device:chr_file rw_file_perms;
')
dontaudit hal_sensors_default diag_device:chr_file rw_file_perms;
