allow system_server persist_file:file r_file_perms;
allow system_server sound_device:chr_file rw_file_perms;
allow system_server sysfs_fpc_keyevents:file rw_file_perms;
allow system_server sysfs_fpc_wakeup_active:file rw_file_perms;
allow system_server sysfs_goodix_keyevents:file rw_file_perms;
allow system_server sysfs_goodix_wakeup_active:file rw_file_perms;
