allow tee goodix_data_file:dir rw_dir_perms;
allow tee goodix_data_file:file { open read write create setattr unlink };
allow tee persist_qc_senseid_file:dir create_dir_perms;
allow tee persist_qc_senseid_file:file create_file_perms;
